.carousel {
  flex: 1;
  text-align: center;
  position: relative;
  -webkit-mask-image: linear-gradient(to top, transparent 1%, #f0f2f5 20%);
  mask-image: linear-gradient(to top, transparent 1%, #f0f2f5 20%);
}

.slogan {
  padding: 0 200px;
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: #000 0 0 10px;
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 500px) {
  .slogan {
    padding: 0;
    font-size: 20px;
    top: 40%;
  }
}
