.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20vw;
}

.about-container p {
  font-size: 25px;
  text-align: justify;
}

.about-title {
  font-size: 60px;
  font-weight: bold;
  color: #000;
  text-align: center;
  /* text-shadow: #000 0 0 10px; */
}

.team {
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
}

@media screen and (min-width: 501px) {
  .team-position {
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  .team-position {
    flex-direction: column;
  }
}

.team-card {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .team-card-space {
    padding: 20px 0;
    border: 1px red;
  }
}

.team-card-photo {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
  clip-path: circle(50% at center);
}
