.team {
  display: flex;
  width: 100%;
  background: #37363d;
  padding: 20px 0;
  justify-content: center;
}

@media screen and (min-width: 501px) {
  .team-position {
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  .team-position {
    flex-direction: column;
  }
}

.team-card {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color: #f0f2f5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .team-card-space {
    padding: 20px 0;
    border: 1px red;
  }
}

.team-card-photo {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
  clip-path: circle(50% at center);
}
